RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?heart.tc.edu.tw [NC]
#RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

# 依據實際路徑更改
#RewriteCond %{HTTP_REFERER} !^http(s)?://192.168.0.1/hwtest/homework.php [NC]
# 所有檔案均拒絕存取
#RewriteRule (.+) - [NC,F,L]
